.viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //background: rgba(#000, .75);
    background-color: rgba(#000, .75);
    overflow-y: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all .25s ease-in-out;
    z-index: 1000;

    @supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
        //@supports (backdrop-filter: blur(10px)) or (--webkit-backdrop-filter: blur(10px)) {
        backdrop-filter: blur(25px);
        background-color: rgba(#fff, .05);
    }

    a {
        position: absolute;
        bottom: 32px;
        left: 50%;
        transform: translate(-50%, 0%);
        z-index: 1000;
        text-decoration: none;
        //color: rgba(#fff, .5);
        color: rgba(#fff, .75);
        //background: rgba(#000, .25);
        //border: 1px solid rgba(#000, .05);
        background: rgba(#fff, .25); // .15
        border: 1px solid rgba(#fff, .15); // .1
        padding: 8px;
        font-size: 14px;
        border-radius: 90px;

        &:hover {
            //color: white;
            //background: rgba(#000, .5);
            color: #fff;
            background: rgba(#fff, .55);
            border: 1px solid rgba(#fff, .25);
        }
    }

    .container {
        width: calc(100% - 128px);
        margin-left: auto;
        margin-right: auto;

        position: relative;

        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        height: 100%;

        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: calc(100% - 96px - 32px);
            object-fit: contain;
            position: absolute;
            top: calc(50% - 32px);
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 0 0 25px 0 rgba(#000, .25);
        }

        iframe {
            width: 1200px;
            height: 700px;
            box-shadow: 0 0 25px 0 rgba(#000, .25);
        }
    }

    &_show {
        visibility: visible !important;
        opacity: 1;
    }
}

@media (min-width: 1300px) and (max-width: 1559px) {
    .viewer {
        .container {
            width: calc(100% - 64px);

            iframe {
                width: 850px;
                height: 500px;
            }
        }
    }
}

@media (min-width: 1100px) and (max-width: 1299px) {
    .viewer {
        .container {
            width: calc(100% - 64px);

            iframe {
                width: 850px;
                height: 500px;
            }
        }
    }
}

@media (min-width: 1025px) and (max-width: 1099px) {
    .viewer {
        .container {
            width: calc(100% - 64px);

            iframe {
                width: 850px;
                height: 500px;
            }
        }
    }
}

// tablets and ipads
@media (min-width: 768px) and (max-width: 1024px) {
    .viewer {
        .container {
            width: calc(100% - 16px);

            iframe {
                width: 400px;
                height: 300px;
            }
        }
    }
}

// tablets and ipads landscape
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .viewer {
        .container {
            width: calc(100% - 16px);

            iframe {
                width: 400px;
                height: 300px;
            }
        }
    }
}

// others
@media only screen and (max-width: 767px) {
    .viewer {
        .container {
            width: calc(100% - 8px);

            iframe {
                width: 400px;
                height: 300px;
            }
        }
    }
}